<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <style>
       body {
      background-image: url('https://modacless.github.io/images/CryptoCook/Logo.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
}

      </style>
      <a href="{{ item.url }}">
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
