<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      {% if item.imageUrl %}
      <img class="card-img-top" src="{{ item.imageUrl }}" alt="Card image">
      {% endif %}
      <a href="{{ item.url }}">
        <span class="header">

          <span style="float:left;">
            {{ item.title }}
            <p></p>
          </span>

          {% if item.icon %}
          <div class = "right-picture">
            <img src="{{item.icon}}" style="float: right; " >
          </div>
        
          {% endif %}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
